[Unit]
Description=service to collect meter information and store in opensearch database
After=multi-user.target
[Service]
WorkingDirectory=/home/ec2-user
ExecStart=java -Xms256m -Xmx512m -jar ./solar-moon-payments-1.0.jar
User=${user}
[Install]
WantedBy=multi-user.target